@use "../../libs/mixins.scss";
@use "../../libs/variables.scss";

.single_card{
    
    box-shadow: variables.$shadow;
    border-radius: variables.$cardBorderRadius;
    max-width: 380px;
    transition: 0.4s;
    
    &:hover
    {
        transform: scale(1.05);
        transition: 0.4s;
    }

    .single_card_image
    {
        height: 200px;
        background-size: cover;
        border-radius: 20px 20px 0 0;


        p
        {
            display: inline-block;
            margin: 15px;
            padding: 5px 10px;
            border-radius: 5px;
            box-shadow: variables.$shadow;
            color: variables.$white;
            font-weight: 600;
            font-size: 10px;

        }

        .single_card_category_skeleton
        {
            height: 20px;
            width: 100px;
            background-color: variables.$skeleton;
        }
    }

    .single_card_info
    {
        padding: 30px;
        box-shadow: variables.$shadow;
        border-radius: variables.$cardBorderRadius;
        margin-top: -30px;
        z-index: 1;
        background-color: variables.$white;
        @include mixins.flexContainer(column, space-between, flex-start,20px);
        min-height: 320px;

        h3
        {
            margin-bottom: 10px;
        }

        p
        {
            margin-bottom: 10px;
        }

        .single_card_info_title_skeleton
        {
            height: 30px;
            width: 100%;
            background-color: variables.$skeleton;
            margin-bottom: 30px;
        }

        .single_card_info_text_skeleton
        {
            height: 10px;
            width: 90%;
            margin: 0 auto;
            background-color: variables.$skeleton;
        }
        
        .single_card_info_price
        {
            width: 100%;
            @include mixins.flexContainer(row, space-between);

            p
            {
                font-size: 1.4em;
                margin: 0;
                font-weight: 600;
            }

            a
            {
                font-size: 1rem;
                font-weight: 600;
                

                &::after
                {
                    content: '→';
                    display: none;
                }

                &:hover
                {
                    text-decoration: underline;
                    &::after
                    {
                        display: inline-block;
                    }
                }
            }

            .single_card_info_price_skeleton
            {
                height: 20px;
                width: 30%;
                background-color: variables.$skeleton;
                margin-top: 30px;
            }

        }
    }
}

@media only screen and (max-width: 1810px){
    
    .single_card{
       width: 300px;

       .single_card_info{
           min-height: 350px;
       }
    } 

}