@import "./libs/variables.scss";

$width: 360px;
$height: 541px;

.container{
    max-width: $width;
    height: $height;
    overflow: hidden;
    box-sizing: content-box;
    z-index: 10;
    position: relative;
    border-radius: $cardBorderRadius;
    user-select: none;
    cursor: pointer;
    
    img{
        width: auto ;
        height: $height;
        display: block;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: -1;
    }
    .layer{
        background: rgba(0, 0, 0, 0.50);
        width: $width;
        height: $height;
    }
    p{
        position: absolute;
        bottom: 0;
        margin: 20px 15px;
        color: $white;
        font-size: 20px;
    }
}