@use "../../libs/mixins.scss";
@use "./libs/variables.scss";

.container{
    color: aliceblue;
    width: 80px;
    .sidebar{
     height: 750px;
     border-left: 1px solid variables.$white;
     @include mixins.flexContainer(column, space-around, start, 0px);
     opacity: 0.5;
    }
}

@media screen and (max-width: 1050px){
    .container{
        display: none;
    }
}
