
@use '../../libs/variables.scss';
@use '../../libs/mixins.scss';

$widthCard: 15vw;

.wrapper
{
    width: $widthCard;
    height: $widthCard * 1.3;
    position: relative;

    border-radius: variables.$cardBorderRadius;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    -webkit-box-shadow: variables.$shadow; 
    box-shadow: variables.$shadow;
    transition: 0.4s;
    cursor: pointer;

    &:hover
    {
        transform: scale(1.05);
        transition: 0.4s;
    }

    img
    {
        object-fit: cover;
    }

    &::before
    {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(to top, rgba(#000, 0.3), rgba(#000, 0));
        border-radius: variables.$cardBorderRadius;
        content: '';
    }

    &.big
    {
        height: 541px;
        width: 360px;
    }

    p
    {
        position: absolute;
        bottom: 0;
        margin: 0;
        padding: 15px 20px;

        // ! VARIABILI !
        font-family: variables.$textFont;
        font-weight: 600;
        font-size: 1rem;
        color: variables.$white;
    }
}