@use '../../libs/variables.scss';
@use '../../libs/mixins.scss';

.wrapper_title_button
{
    @include mixins.flexContainer(row, space-between);
    width: 100%;
    display: flex;
    flex-wrap: wrap;  

    .wrapper_title h2
    {
        margin-bottom: 20px;
    }

    a
    {
        font-weight: 600;
        font-size: 0.9rem;
        padding: 10px 20px;
        border-radius: 10px;
        color: variables.$white;
        max-width: 160px;
        text-align: right;
    }
}
@media only screen and (max-width: 870px){
    .wrapper_title_button{
        @include mixins.flexContainer(column, center, center, 20px);
        text-align: center;
        a{
            max-width: 100%;
            text-align: center;
        }    
    }

}