
@use "./libs/variables.scss";

.btnHero{
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: larger;
    color: variables.$white;
    background: #fdfffc69;
    cursor: pointer;
    display: block;
    transition: transform 0.2s ease, background 0s ease;
    
    &:hover{
        transform: scale(1.10);
    }
}
.forActivities{
    background: #011627;
    box-shadow: variables.$shadow;
    color: variables.$white;
}
.active{
    background: #e71d36;
}