
@import "./libs/variables.scss";

.btnHero{
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: larger;
    background-color: #fdfffc69;
    cursor: pointer;
    display: block;
    transition: all 0.2s ease;
    
    &:hover{
        transform: scale(1.10);
    }
}
.forActivities{
    background: #011627;
    box-shadow: $shadow;
    color: $white;
}