
@use "../../libs/variables.scss";
@use "../../libs/mixins.scss";

.wrapper_hero_intern{
    @include mixins.flexContainer(column, center, flex-start);
    width: 100%;
    max-height: 120vh;
    padding: 150px 100px;
    color: variables.$white;
   
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow:inset 0 0 0 2000px variables.$overlay;

    h1{
      text-transform: uppercase;
      max-width: 50%;
    }

    p{
      max-width: 700px;
    }

  }

@media only screen and (max-width: 1400px){
    
    .wrapper_hero_intern{
      h1{
        max-width: 100%;
      } 
    } 
}
@media only screen and (max-width: 768px){
    
  .wrapper_hero_intern{
    @include mixins.flexContainer(column, center, center);
    text-align: center;
    padding: 130px 30px 50px 30px;
    h1{
      font-size: 40px;
      max-width: 100%;
    }
    p{      
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical; 
      overflow: scroll;
    }
  } 
}