@use "../../libs/variables.scss";
@use "../../libs/mixins.scss";

.wrapper_hero_intern{
    @include mixins.flexContainer(column, center, flex-start);
    width: 100%;
    max-height: 120vh;
    padding: 150px 100px;
    color: variables.$white;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow:inset 0 0 0 2000px variables.$overlay;

    h1{
      text-transform: uppercase;
      max-width: 70%;
    }

    p{
      max-width: 50%;
    }

  }

  