@use '../../libs/variables.scss';
@use '../../libs/mixins.scss';


.teamCard{
    box-shadow: variables.$shadow;
    border-radius: variables.$cardBorderRadius;
    max-width: 310px;
    padding: 30px;
    

    

    transition: 0.4s;
    &:hover {
        transform: scale(1.05);
        transition: 0.4s;
    }
}

.imageWrapper{ 
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: calc(50% - 75px);
    margin-bottom: 30px;
    
}

.descriptionWrapper{
    
    h3{
        line-height: 50px;
    }

    .brandsIcons{
        @include mixins.flexContainer(row);
        column-gap: 10px;
        margin-top: 5px;           
    }
    
}