
@use '../../libs/variables.scss';
@use '../../libs/mixins.scss';


.wrapper_activities
{
    padding: variables.$sectionsPadding;
    @include mixins.flexContainer(column);

    .wrapper_activities_cards
    {
        width: 100%;
        padding: 50px 0;
        @include mixins.flexContainer(row,space-between,flex-start,50px);
        flex-wrap: wrap;
    }
}