@use '../../libs/variables.scss';
@use '../../libs/mixins.scss';

.wrapper_activities
{
    padding: variables.$sectionsPadding;
    @include mixins.flexContainer(column);

    .wrapper_activities_cards
    {
        width: 100%;
        padding: 50px 0;
        @include mixins.flexContainer(row, space-between, flex-start,);
        flex-wrap: wrap;
    }
}
@media only screen and (max-width: 1480px){
    .wrapper_activities{
        padding: 50px;
        .wrapper_activities_cards{
            justify-content: center;
        }
    } 
}