@use "../../libs/variables.scss";
@use "../../libs/mixins.scss";

.wrapper_activities{
    padding: variables.$sectionsPadding;
    @include mixins.flexContainer(row, space-between);
    flex-wrap: wrap;

    .wrapper_title_button{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        .wrapper_title h2{
            margin-bottom: 20px;
        }

        a {
            font-weight: 600;
            padding: 10px 20px;
            border-radius: 10px;
            color: variables.$white;
            background-color: variables.$primary;
            max-width: 160px;
            text-align: right;
        }
    }
    .wrapper_activities_cards{
        padding: 50px 0;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: variables.$cardsColumnGap;
        
    }
}