@use '../../libs/variables.scss';

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
    

    input {
    opacity: 0;
    width: 0;
    height: 0;
    }
    
    .slider {
      border: 2px solid variables.$black;  
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: variables.$white;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 34px;
      
      &::before {
        position: absolute;
        content: url("https://img.icons8.com/color/22/000000/italy-circular.png");
        height: 20px;
        width: 20px;
        left: 0px;
        bottom: 3px;
        background-color: variables.$white;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 50%;
    }
    
    }
    
    input:checked + .slider {
      
      &::before{
        content: url("https://img.icons8.com/color/22/000000/great-britain-circular.png");
      }
    }
    
    
    input:checked + .slider:before {
      -webkit-transform: translateX(24px);
      -ms-transform: translateX(24px);
      transform: translateX(24px);
    }
}
