@import "../../libs/variables.scss";
$paddingSide : 70px;
.container{
    
    margin: 50px 0px;
    //padding: 30px 0 30px $paddingSide;
    display: flex;;
    background-color: #eee;
    flex-wrap: wrap;
    justify-content: center;
    
    div{
        
       // border: 1px solid red;
    }
    .citySearch{
        display: flex;
        padding: 20px;

    }

    .inputDiv{
        display: flex;
        align-items: center;
        padding: 20px;
        flex-wrap: wrap;
        width: 250px;

            input[type=range]
            {
                margin:0 10px ;
                -webkit-appearance: none;
                width: 100%; 
                height: 5px;
                border-radius: 4px;
                background-color: #333;
                outline: none;
                -webkit-transition: .2s;
                transition: opacity .2s;
                margin: 0 auto;

    
                &::-webkit-slider-thumb
                {
                    -webkit-appearance: none;
                    appearance: none;
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    background-color: $alternative;
                    cursor: pointer;
                    box-shadow: $shadow;
                }
            }
            p{
                width: 50%;
                font-size: 18px;
                padding-bottom: 15px;
                font-weight: bold;
            }
            .price{
                text-align: end;
            }   
        

    }
    .buttons{
        display: flex;
        justify-content:center;
        align-items: center;
        transition: all 5s;
        width: 100%;
        padding: 40px;
        flex-wrap: wrap;
        
        .buttonDiv{
            position: relative;
            button{
                width: 120px;
                height: 55px;
                margin: 5px 10px;
                border: none;
                cursor: pointer;
                color: $white;
                border-radius: 15px;
                padding: 5px 5px;
                font-weight: normal;
                font-size: 18px;
                transition: all 0.5s ;
            }
            &.buttonDivOpen::after{

                opacity: 1;
            }
            &::after{
                content: "";
                height: 5px;
                width: 15px;
                border-radius: 174px;
                background: #000;
                position: absolute;
                left: 50%;
                bottom: 0;
                transform: translate(-50%,50%);
                opacity: 0;
                transition: all 0.5s ease;
            }
        }

    }
    .search{
        display: flex;
        justify-content: flex-end;
    }
  
}
.pagination{
    display: flex;
    justify-content: center;
    padding: 10px;
    button{
        margin: 20px 10px 100px 10px;
    }
}
.allactivities{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .noResult{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 50vh;
        h3{
            margin-bottom: 10px;
        }

    }
    .singleActivity{
        margin: 10px 15px;
        cursor: pointer;
    }
}

.btn{
   display: none;
   
}

@media  (max-width: 855px){
    .container{

        padding: 20px 0;

        .buttons{
            padding-bottom: 10px;
            justify-content: center;
            

            &::-webkit-scrollbar {
                height: 5px;
                transition: all 0.35s ease;
            }
        
            /* Track */
            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 5px grey;
                border-radius: 10px;
            }
        
            /* Handle */
            &::-webkit-scrollbar-thumb {
                background: #000000;
                border-radius: 10px;
            }
        
            /* Handle on hover */
            &::-webkit-scrollbar-thumb:hover {
                background: #8f8f8f;
            }
        
            button{
                
                font-size: 12px;
                padding: 0;
                width: 60px;
            }

        }
    }
    .pagination{
    
        button{
            font-size: 15px;
            margin: 10px 5px;
            height: 50px;
            width: 50px;

            

        }
        .none{
            display: none;
        }
    }
    

}
