@import "../../libs/variables.scss";
$paddingSide : 70px;
.container{
    
    margin: 50px 100px;
    padding: 30px 0 30px $paddingSide;
    display: flex;;
    background-color: #eee;
    flex-wrap: wrap-reverse;
    justify-content: center;
    
    div{
        
       // border: 1px solid red;
    }
    .citySearch{
        display: flex;
        padding: 20px;
    }

    .inputDiv{
        display: flex;
        align-items: center;
        padding: 20px;
        
            input[type=range]
            {
                margin:0 10px ;
                -webkit-appearance: none;
                width: 200px; 
                height: 8px;
                border-radius: 4px;
                background-color: #333;
                outline: none;
                -webkit-transition: .2s;
                transition: opacity .2s;
    
                &::-webkit-slider-thumb
                {
                    -webkit-appearance: none;
                    appearance: none;
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    background-color: $primary;
                    cursor: pointer;
                }
            }
        

    }
    .buttons{
        display: flex;
        justify-content:center;
        align-items: center;
        button{
            max-width: 100px;
            margin: 0 10px;
            border: none;
            padding: 5px;
            cursor: pointer;
            color: $white;
            height: 50px;
            border-radius: 15px;
            padding: 10px 10px;
            font-weight: 600;
        }
    }
    .search{
        display: flex;
        justify-content: flex-end;
    }
  
}
.pagination{
    //background: #1b1b1ba1;
    display: flex;
    justify-content: center;
    padding: 10px;
    button{
        margin: 10px 10px;
        
    }
}
.allactivities{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .singleActivity{
        margin: 10px 15px;
        cursor: pointer;
    }
}
@media  (max-width: 855px){
    .container{
        margin: 10px 10px;
        padding: 20px 0;

        .buttons{
            overflow-x: scroll;
            padding-bottom: 10px;
            justify-content: flex-start;
            

            &::-webkit-scrollbar {
                height: 5px;
                transition: all 0.35s ease;
            }
        
            /* Track */
            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 5px grey;
                border-radius: 10px;
            }
        
            /* Handle */
            &::-webkit-scrollbar-thumb {
                background: #000000;
                border-radius: 10px;
            }
        
            /* Handle on hover */
            &::-webkit-scrollbar-thumb:hover {
                background: #8f8f8f;
            }
        
            button{
                
                font-size: 10px;
                padding: 0;
                min-width: 50px;
            }

        }
    }
    .pagination{
    
        button{
            font-size: 10px;
            margin: 10px 5px;
            height: 20px;
            min-width: 20px;
            
        }
    }
    

}
