@import "../../libs/variables.scss";

.container{
    width: 0px;
    display: flex;
    flex-direction: column;
    background: #011627;
    position: fixed;
    height: 100vh;
    z-index: 9;
    color: aliceblue;
    font-size: 20px;
    overflow: hidden;
    transition: all 0.5s;
    ul{
        padding-top: 120px;

        
        li{
            margin: 20px 10px;
            list-style: none;
        }
    }
    &.open{
        width: 100%;
    }
}