
@import "../../libs/variables.scss";

.footerWrapper{
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding: 30px;
    line-height: 25px;
      
    background-color: $quaternary;
    color: $black;

     
    h2{
        margin:0;
    }

    h3{
        margin:0;
    }
    
    img {        
        width: 300px;
    }
}

.rowItemsWrapper{
    display: flex;
    flex-direction: row; 
    justify-content: space-around;    
    padding-bottom: 20px;
    
    ul{
        list-style-type: none; 
        padding:0;
    }
}

.logoWrapper{
    flex-grow: 2;    
}

.menùWrapper{
    flex-grow: 1;   
    list-style-type: none; 
}

.contattiWrapper{
    flex-grow: 1;    
}

.AuthorsWrapper{
    border-top:1px solid $black;;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
    h3{
        padding-top: 20px;
    }
}

.icons{
    width: 14px;   
}

.angleIcons{
    width: 6px;   
}

.heart{
    width: 16px; 
    color: $primary;  
}

.brandsIcons{    
    display: flex;       
    column-gap: 5px;
    margin-top: 3px;
}

@media only screen and (max-width: 480px) {
    .footerWrapper{
        justify-content: center;
        text-align: center;

        line-height: 35px;

        img {        
            width: 200px;
        }
    }
   
    .rowItemsWrapper {
        flex-direction: column;
        justify-content: center;

        div{margin: 10px 0;}
    }   

    .brandsIcons{
        justify-content: center;        
    }
}