@import "../../libs/variables.scss";

.container{
    padding: $sectionsPadding;
    .wrapper{
        position: relative;
        height: 700px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #cacaca;
        .marker{
            cursor: pointer;
            background: #000;
            height: 30px;
            width: 30px;
            transform: rotate(135deg);
            transition: all 0.3s ease;

            &:hover{
                transform: rotate(135deg) scale(1.2);
            }
        }
        .modale{
            position: absolute;
            width: fit-content;
            height: fit-content;
            top: 20px;
            left: 20px;
            .closeBtn{
                position: absolute;
                top: 10px;
                right: 10px;
            }

        }
        .inputRaggio{
            position: absolute;
            top: 20px;
            right: 40px;
            input[type=range]{
                margin:0 10px ;
                -webkit-appearance: none;
                width: 200px; 
                height: 8px;
                border-radius: 4px;
                background-color: #333;
                outline: none;
                -webkit-transition: .2s;
                transition: opacity .2s;
    
                &::-webkit-slider-thumb{
                    -webkit-appearance: none;
                    appearance: none;
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    background-color: $primary;
                    cursor: pointer;
                }
            }
        }
    }
}