@use "../../libs/variables.scss";
@use "../../libs/mixins.scss";

.container{
    .title{
         padding: 0 100px;
    }
    .wrapper{
        margin-top: 50px;
        position: relative;
        height: 550px;
        @include mixins.flexContainer(row,center,center);
        
        width: 100%;
        overflow: hidden;
        .marker
        {
            cursor: pointer;
            height: 50px;
            width: 100%;            
            transform: scale(0.8);
            transition: all 0.3s ease;

            &:hover
            {
                transform: scale(1);
            }
        }
        .modale{
            position: absolute;
            width: fit-content;
            height: fit-content;
            top: 20px;
            left: -600px;
            transition: all 0.5s ease;
            &:hover{
                transform: scale(1);
            }
            &.open{
                left: 20px;
                animation: appear 0.5s ease;
            }
            .closeBtn{
                position: absolute;
                top: 10px;
                right: 10px;
                @include mixins.buttonCart();
                padding: 5px 10px;
            }

        }
        @keyframes appear {
            0%{
                left: -600px;
            }
            100%{
                left: 20px;
            }
        }
        .inputRaggio{
            position: absolute;
            top: 20px;
            right: 40px;
            font-weight: 600;
            background-color: variables.$white;
            padding: 10px;
            border-radius: 5px;
            input[type=range]{
                margin:0 10px ;
                -webkit-appearance: none;
                width: 200px; 
                height: 8px;
                border-radius: 4px;
                background-color: variables.$black;
                outline: none;
                -webkit-transition: .2s;
                transition: opacity .2s;
    
                &::-webkit-slider-thumb{
                    -webkit-appearance: none;
                    appearance: none;
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    background-color: variables.$primary;
                    cursor: pointer;
                }
            }
        }
    }
}
@media only screen and (max-width: 768px){
    .container{
        padding: 0px 0px 0px 0px;
        .wrapper{
            height: 60vh;
            .modale{
                transform: scale(0.5);
                top: calc(20px * -3 ) ;
                &:hover{
                    transform: scale(0.5);
                }
             &.open{
                 left: calc(20px * -3);
             }
            }
        }
    }
}