.hero{
    color: #ffff;
    width: 100%;
    background-image: url("./../public/background.jpg");
}

.logo {
    margin: 5px 0 0 15px;
    width: 30%;  
}

.nav {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    li {
    list-style-type: none;
    margin: 20px 0 0 100px;
    font-size: 1.3em;
    }
}

.btnSearch{
    width: 50px;
    height: 50px;
    margin: 25px 0 0 10px;
    &:hover{
    cursor: pointer;
    }
}


.inputSearch{
    height: 50px;
    width: 20px;
    border-style: none;
    padding: 10px;
    outline: none;
    border-radius: 25px;
    transition: all 0.5s ease-in-out;
    background-image: url("/SearchBar.png");
    background-repeat: no-repeat;
    padding-right: 40px;
    color:#fff;
    &::placeholder{
    color:rgba(255,255,255,.5);
    font-size: 18px;
    letter-spacing: 2px;
  } &:focus{
    background-image: none;
    width: 230px;
    border-radius: 10px;
    background-color: rgba(255,255,255,.5);
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
}
  .btnSearch{
    width: 50px;
    height: 50px;
    margin: 10px 0 0 70px;
    border-style: none;
    font-size: 10px;
    outline: none;
    border-radius: 50%;
    color:#ffffff ;
    background-color:transparent;
  }.btnSearch:focus ~ .inputSearch{
    width: 300px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
