


@use '../../libs/variables.scss';
@use '../../libs/mixins.scss';

.wrapper
{
    display: flex;
    padding: 100px;
    justify-content: center;
    flex-wrap: wrap;

    a
    {
        margin: 15px;
    }
    
   

}