/*Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.3rem;
}

p{
  font-size: 16px;
  line-height: 1.4;
}

.container{
  width: 100vw;
  height: 100vh;
  background: #1b1b1b;
  display: flex;
  justify-content: center;
  align-items: center;
}